<div class="row">
    <div class="col-md-6 offset-3">
        <h2 class="text-danger">You have reached the end of the Internet..</h2>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Home Page</a>
    </div>
</div>
